.header-user{
    &__dropdown{
        display: flex;
        align-items: center;
        padding: 21px 21px 17px 17px;
        cursor: pointer;
    }
    &__name{
        letter-spacing: -0.5px;
        margin-right: 20px;
        max-width: 95px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    @media (max-width: $medium){
        &__name{
            display: none;
        }
    }
    &__img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 16px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .dropdown__panel{
        top: 60px;
        left: 0;
    }
}