.switcher{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 -10px 62px;
    @media (min-width: $medium){
        margin: 0 -10px 62px;
    }
    @media (max-width: $medium){
        margin: 0 0 30px;
        justify-content: center;
    }
	&__description{
        padding: 0 30px;
        cursor: pointer;
    }
    &__input{
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 10px 0 0 20px;
        & + .switcher__label{
            position: relative;
            padding: 0 0 0 40px;
            height: 24px;
            cursor: pointer;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 40px;
                height: 24px;
                border-radius: 13px;
                background: $text-color;
                @include transition(all .3s);
            }
            &:after{
                content: '';
                position: absolute;
                top: 3px;
                left: 4px;
                width: 18px;
                height: 18px;
                border-radius: 10px;
                background: $white;
                @include transition(all .3s);
            }
        }
        &:checked{
            & + .switcher__label{
                &:before {
                    background: $red-color;
                }
                &:after {
                    left: 18px;
                }
            }
        }
    }
}