.menu-icons{
    &__list{
        display: flex;
        flex-wrap: wrap;
    }
    &__link{
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include transition(all .3s);
        @include on-event {
          opacity: 0.8;
        }
    }
    .icon_notifications{
        margin-top: 2px;
    }
}