html {
  box-sizing: border-box;
}
body{
  background: $light-grey;
}
img{
  max-width: 100%;
  height: auto;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  color: $red-color;
  text-decoration: none;
  @include transition(all .3s);
  @include on-event {
    color: $text-color;
  }
}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
button, [type="button"], [type="reset"], [type="submit"]{
  border: 0;
  box-shadow: none;
  cursor: pointer;
  &:focus{
    outline: none;
  }
}